body{
    background: url(/Images/image2.jpg);
    background-repeat: no-repeat;
    background-size: 2000px, 1000px;
    background-attachment: scroll;
}

.header a{

    border: 3px solid lightblue;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    margin: 50px 25px 75px;
    padding: 15px;

}